
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.topnav {
  overflow: hidden;
  background-color: #a35d74;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 250, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav .search-container {
  float: right;
  padding-top: 0px;
  margin-top: -55px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top:0;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.topnav .search-container button {
  float: right;
  margin-left:2px;
  padding: 6px 10px;
  margin-top: px;
  margin-right: 16px;
  background: rgb(141, 110, 133);
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.rock{
  margin-top:40px;
  font-family: montserrat;
}
.rock > p{
  margin-left: 50px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.nodata > h1{
  margin-left: 550px;
  margin-top: 150px;
  align-content: center;

}
